<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Project</mat-panel-title>
        </mat-expansion-panel-header>

        <!-- Document Checklist table -->
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Document Checklist Name </th>
                <td mat-cell *matCellDef="let element"><mat-icon *ngIf="element.show">description</mat-icon> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="icon">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element"><mat-icon *ngIf="element.show">edit</mat-icon></td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="showcommittee">
                <th mat-header-cell *matHeaderCellDef> Show Committee </th>
                <td mat-cell *matCellDef="let element">
                    <mat-checkbox *ngIf="element.checkshow" class="example-margin" [checked]="element.showcommittee"></mat-checkbox>
                </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="hardcopy">
                <th mat-header-cell *matHeaderCellDef> Hard Copy </th>
                <td mat-cell *matCellDef="let element">
                    <mat-slide-toggle *ngIf="element.slideshow" class="example-margin" [checked]="element.hardcopy"></mat-slide-toggle>
                </td>
            </ng-container>

            <ng-container matColumnDef="approved">
                <th mat-header-cell *matHeaderCellDef> Approved </th>
                <td mat-cell *matCellDef="let element"> 
                    <mat-slide-toggle *ngIf="element.slideshow" class="example-margin" [checked]="element.approved"></mat-slide-toggle>
                </td>
            </ng-container>

            <ng-container matColumnDef="comments">
                <th mat-header-cell *matHeaderCellDef> Comments </th>
                <td mat-cell *matCellDef="let element"> 
                    <textarea matInput placeholder="Comments" *ngIf="element.checkshow"></textarea>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <!-- routerLink="/ostf/" -->
        </table>

    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>Overview</mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Location
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Site Characteristics
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Finance
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Planning Management
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
    </mat-expansion-panel>
</mat-accordion>