<h1 mat-dialog-title> {{data.title}}</h1>
<div mat-dialog-content>
  <ckeditor [(ngModel)]="data.content"  debounce="500"></ckeditor>
</div>
  <!-- <button mat-button (click)="onNoClick()">No Thanks</button> -->
  <!-- <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
  <div class="step-footer d-flex justify-content-end px-4">
<div mat-dialog-actions>
    <button mat-flat-button (click)="onNoClick()" class="mat-light mr-2">Cancel</button>
    <button mat-flat-button color="primary" class="mr-2">Save Changes</button>
  </div>
</div>