<app-ostf-manage-prg-header [page]="page"></app-ostf-manage-prg-header>
<div class="mc-mat-tab-content p-3">
    <div class="row">
      <div class="form-group col-lg-6 col-md-6 col-sm-6 col-12" *ngFor="let data of cardData;let i=index;">
        <mat-card class="example-card" >
            <mat-card-header class="card-container">
               <mat-card-title>
               <mat-icon class="card-container-left">email</mat-icon> {{data.title}}
               </mat-card-title>
               <mat-card-actions class="card-container-right" align="right">
                <button  mat-raised-button dropdown-toggle [matMenuTriggerFor]="menu" data-toggle="dropdown" aria-haspopup="true" >
                    Actions
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="/ostf/project/projectview/1/project/view/1">
                      <mat-icon>edit</mat-icon>
                      <span>Edit</span>
                    </button>
                    <button mat-menu-item (click)="openDialog(data)">
                      <mat-icon>visibility</mat-icon>
                      <span>View</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>delete</mat-icon>
                      <span>Delete</span>
                    </button>
                  </mat-menu>
            </mat-card-actions>
            </mat-card-header>
            <mat-card-content>
                <p class="card-content"> {{data.content}}</p>
            </mat-card-content>
          </mat-card>
</div>

    </div>
</div>
