<div class="mc-mat-tab-content p-3">
    <form>

        <div class="form-center-container">

            <button mat-button [matMenuTriggerFor]="menu">Chester Toenship</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Option 1</button>
                <button mat-menu-item>Option 2</button>
                <button mat-menu-item>Option 3</button>
            </mat-menu>

            <button mat-button [matMenuTriggerFor]="menu2">Export</button>
            <mat-menu #menu2="matMenu">
                <button mat-menu-item>PDF</button>
                <button mat-menu-item>CSV</button>
                <button mat-menu-item>Excel</button>
            </mat-menu>

            <mat-icon>print</mat-icon>

            <br />
            <br />
            <!-- Document Checklist table -->
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!-- Year Column -->
                <ng-container matColumnDef="year">
                    <th mat-header-cell *matHeaderCellDef> Year </th>
                    <td mat-cell *matCellDef="let element"> {{element.year}} </td>
                    <td mat-footer-cell *matFooterCellDef> Total </td>
                </ng-container>

                <!-- Annual Tax Levy Column -->
                <ng-container matColumnDef="annualTaxLevy">
                    <th mat-header-cell *matHeaderCellDef> Annual Tax Levy </th>
                    <td mat-cell *matCellDef="let element"> {{ element.annualTaxLevy }} </td>
                    <td mat-footer-cell *matFooterCellDef> {{ getAnnualTaxLevy() }} </td>
                </ng-container>

                <!-- Reimbursements Column -->
                <ng-container matColumnDef="reimbursements">
                    <th mat-header-cell *matHeaderCellDef> Reimbursements </th>
                    <td mat-cell *matCellDef="let element"> {{ element.reimbursements }} </td>
                    <td mat-footer-cell *matFooterCellDef> {{ getReimbursements() }} </td>
                </ng-container>

                <!-- Cash Receipts Column -->
                <ng-container matColumnDef="cashReceipts">
                    <th mat-header-cell *matHeaderCellDef> Cash Receipts </th>
                    <td mat-cell *matCellDef="let element"> {{ element.cashReceipts }} </td>
                    <td mat-footer-cell *matFooterCellDef> {{ getCashReceipts() }} </td>
                </ng-container>

                <!-- Interest Column -->
                <ng-container matColumnDef="interest">
                    <th mat-header-cell *matHeaderCellDef> Interest </th>
                    <td mat-cell *matCellDef="let element"> {{ element.interest }} </td>
                    <td mat-footer-cell *matFooterCellDef> {{ getInterest() }} </td>
                </ng-container>

                <!-- Other Column -->
                <ng-container matColumnDef="other">
                    <th mat-header-cell *matHeaderCellDef> Other </th>
                    <td mat-cell *matCellDef="let element"> {{element.other}} </td>
                    <td mat-footer-cell *matFooterCellDef> {{ getOther1() }} </td>
                </ng-container>

                <!-- Total Column -->
                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef> Total Revenues per year </th>
                    <td mat-cell *matCellDef="let element"> {{ isCalculateTotal(element) }} </td>
                    <td mat-footer-cell *matFooterCellDef> {{ getTotal1() }} </td>
                </ng-container>

                <!-- Disbursements Column -->
                <ng-container matColumnDef="disbursements">
                    <th mat-header-cell *matHeaderCellDef> Disbursements </th>
                    <td mat-cell *matCellDef="let element"> {{ element.disbursements }} </td>
                    <td mat-footer-cell *matFooterCellDef> {{ getDisbursements() }} </td>
                </ng-container>

                <!-- Debt Payments Column -->
                <ng-container matColumnDef="debtPayments">
                    <th mat-header-cell *matHeaderCellDef> Debt Payments </th>
                    <td mat-cell *matCellDef="let element"> {{element.debtPayments}} </td>
                    <td mat-footer-cell *matFooterCellDef> {{ getDebtPayments() }} </td>
                </ng-container>

                <!-- Other Column -->
                <ng-container matColumnDef="other2">
                    <th mat-header-cell *matHeaderCellDef> Other </th>
                    <td mat-cell *matCellDef="let element"> {{element.other2}} </td>
                    <td mat-footer-cell *matFooterCellDef> {{ getOther2() }} </td>
                </ng-container>

                <!-- Total Column -->
                <ng-container matColumnDef="total2">
                    <th mat-header-cell *matHeaderCellDef> Total Expenses per year </th>
                    <td mat-cell *matCellDef="let element"> {{ isCalculateTotal2(element) }} </td>
                    <td mat-footer-cell *matFooterCellDef> {{ getTotal2() }} </td>
                </ng-container>

                <!-- edit Column -->
                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element"> <a (click)="openModal('custom-modal-1', element)">Edit</a>
                    </td>
                    <td mat-footer-cell *matFooterCellDef> </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
                <!-- routerLink="/ostf/" -->
            </table>

            <jw-modal id="custom-modal-1">
                <table>
                    <tr class="background">
                        <th class="thcenter">YEAR</th>
                        <th class="tdcenter">{{ revenueExpenses.year }}</th>
                    </tr>
                    <tr class="revenuebackground">
                        <td style="text-align: right;"><b>REVENUES</b></td>
                        <td class="tdcenter"></td>
                    </tr>
                    <tr>
                        <td class="revenuebackground">Annual Tax Levy</td>
                        <td class="tdcenter">$<input matInput placeholder="" [(ngModel)]="revenueExpenses.annualTaxLevy" [ngModelOptions]="{standalone: true}"></td>
                    </tr>
                    <tr>
                        <td class="revenuebackground">Reimbursements</td>
                        <td class="tdcenter">$<input matInput placeholder="" [(ngModel)]="revenueExpenses.reimbursements" [ngModelOptions]="{standalone: true}"></td>
                    </tr>
                    <tr>
                        <td class="revenuebackground">Cash receipts</td>
                        <td class="tdcenter">$<input matInput placeholder="" [(ngModel)]="revenueExpenses.cashReceipts" [ngModelOptions]="{standalone: true}"></td>
                    </tr>
                    <tr>
                        <td class="revenuebackground">Interests</td>
                        <td class="tdcenter">$<input matInput placeholder="" [(ngModel)]="revenueExpenses.interest" [ngModelOptions]="{standalone: true}"></td>
                    </tr>
                    <tr>
                        <td class="revenuebackground">Other</td>
                        <td class="tdcenter"> <button>ADD</button> </td>
                    </tr>
                    <tr class="expensesbackground">
                        <td style="text-align: right;"> <b>EXPENSES</b> </td>
                        <td class="tdcenter"></td>
                    </tr>
                    <tr>
                        <td class="expensesbackground">Disbursements</td>
                        <td class="tdcenter">$<input matInput placeholder="" [(ngModel)]="revenueExpenses.disbursements" [ngModelOptions]="{standalone: true}"></td>
                    </tr>
                    <tr>
                        <td class="expensesbackground">Debt payments</td>
                        <td class="tdcenter">$<input matInput placeholder="" [(ngModel)]="revenueExpenses.debtPayments" [ngModelOptions]="{standalone: true}"></td>
                    </tr>
                    <tr>
                        <td class="expensesbackground">Other</td>
                        <td class="tdcenter"><button>ADD</button></td>
                    </tr>
                </table>
                <br />
                <button (click)="closeModal('custom-modal-1');">Close</button>
                <button (click)="saveFinance();">Save</button>
            </jw-modal>

            <br />

            <div class="form-group">
                <mat-label>Available Balance</mat-label>
                <input matInput placeholder="" value="{{Balance}}">
            </div>

            <br />
            <p>
                <mat-label>Muncipal Trust Fund Permitted Uses</mat-label>
            </p>
            <div class="form-group mat-chk-group">
                <span class="mr-4 mb-1">
                    <mat-checkbox>Acquisition of lands for conservation and recreation, including easements
                    </mat-checkbox>
                </span>
                <span class="mr-4 mb-1">
                    <mat-checkbox>Acquisition of formland for formland preservation</mat-checkbox>
                </span>

                <span class="mr-4 mb-1">
                    <mat-checkbox>Development and improvement of lands acquired for conservation and recreation
                    </mat-checkbox>
                </span>

                <span class="mr-4 mb-1">
                    <mat-checkbox>Maintenance of lands acquired for conservation and recreation</mat-checkbox>
                </span>

                <span class="mr-4 mb-1">
                    <mat-checkbox>Salaries and benefits for employees of trust fund related activities</mat-checkbox>
                </span>

                <span class="mr-1">
                    <mat-checkbox>Bond down payments and debt service</mat-checkbox>
                </span>

                <div class="checkbox">
                    <span class="mr-1">
                        <mat-checkbox>Historic preservation</mat-checkbox>
                        <p>
                            <b>Other:</b> Trust fund approved in 1999. Maximum collection rate=0.02. Resolution of june
                            20,
                            2000
                            reaffirmed
                            continuation of trust fund.
                            Permitted uses of trust fund includes salaries (only, not benefit) for employees conducting
                            trust
                            fund
                            related
                            activities (maintenance of
                            lands acquired conservation and recreation)
                        </p>
                    </span>
                </div>
                <span class="mr-1">
                    <mat-checkbox>Muncipality has Ann adopted Open Space Master Plan</mat-checkbox>
                    <p><b>Date: </b> 06/18/2000 </p>
                </span>

                <span class="mr-1">
                    <mat-checkbox>Muncipality has a Green Acres Planning Incentives Grant</mat-checkbox>
                </span>

                <span class="mr-1">
                    <textarea matInput rows="5" cols="60" placeholder="Please enter Comments"></textarea>
                </span>
            </div>

            <mat-card-actions align="right">
                <button mat-raised-button color="primary">Save</button>
            </mat-card-actions>
        </div>

    </form>
</div>