

<div class="mc-login h-100">
    <div class="mc-login-row d-flex h-100">
        <div class="bg-primary login-aside p-5 d-flex flex-column" style="background-image: url(https://keenthemes.com/metronic/preview/angular/demo6/assets/media/bg/bg-4.jpg);">
            <div class="mc-logo-item mb-4">
                <a class="mc-logo" href="javascript:;"><img alt="" src="assets/images/demo-logo.jpg"></a>
            </div>
    
    
            <div class="mc-grid-item mc-grid-ver">
                    <div class="mc-grid-item mc-grid-item-middle">
                       <h3 class="mc-login-title">Welcome to RAS County!</h3>
                       <h4 class="mc-login-subtitle">
                            Morris County is nestled amid rolling hills, broad valleys and glittering lakes approximately 
                            30 miles northwest of New York City. It is New Jersey’s seventh largest county.       
                    </h4>
                    </div>
                 </div>
    
                 <div class="mc-grid-item">
                        <div class="mc-login-info">
                           <div class="login-copyright"> © 2020 Morris County </div>
                        </div>
                     </div>
    
    
        </div>
        <div class="bg-danger1 flex-fill login-fluid p-5 bg-white bg-login-content">
                <div class="login-head text-right mb-4">
                        <span class="label signup-label">Don't have an account yet?</span>&nbsp;&nbsp; 
                        <a class="signup-link" href="#" routerlink="/auth/register">Sign Up</a>
                    </div>
            <div class="mc-grid-ver h-100">
                <div class="mc-grid-item-middle m-auto">
                        <div class="login-wrapper">
                                <div class="login-body">
                                    <div class="login-form">
                                        <h5>Sign In</h5>
                                        <!-- <div role="alert" class="alert alert-info"><div class="alert-text">Use account
                                                <strong>admin@demo.com</strong> and password
                                                <strong>demo</strong> to continue.</div>
                                            </div> -->
                                            <form class="mc-form" [formGroup]="loginForm">
                                                    <mat-form-field class="full-width">
                                                      <input matInput placeholder="Username" formControlName="userName">
                                                      <mat-error *ngIf="errorHandling('userName', 'required')">
                                                        User Name is required
                                                      </mat-error>
                                                    </mat-form-field>
                                                    
                                                    <mat-form-field class="full-width">
                                                            <input matInput type="password" formControlName="password">
                                                            <mat-error *ngIf="errorHandling('password', 'required')">
                                                                User Name is required
                                                              </mat-error>
                                                          </mat-form-field>
                                                         
                                                          
                                                  </form>
                                                  <div class="mc-login-actions">
                                                        <a class="mc-link mc-link-forgot" href="#"> Forgot Password </a>
                                                       
                                                        
                                                        <!-- <button mat-flat-button class="login-btn btn btn-primary" routerLink="">Sign In</button> -->
                                                        <button mat-flat-button color="primary" class="login-btn" (click)="loginUser()"> Sign In</button>
                                                  </div>
                                                  <div class="mc-login-divider">
                                                      <div class="mc-divider">
                                                      <span></span><span>OR</span><span></span>
                                                    </div>
                                                    </div>
                                                    
                                                    <div class="mc-login-options">
                                                        <a class="btn btn-primary mc-btn" href="javascript:;" target="_blank"> <i class="zmdi zmdi-facebook"></i> Facebook </a>
                                                        <a class="btn btn-info mc-btn" href="javascript:;" target="_blank"> <i class="zmdi zmdi-twitter"></i> Twitter </a>
                                                        <a class="btn btn-danger mc-btn" href="javascript:;" target="_blank"> <i class="zmdi zmdi-google"></i> Google </a>
                                                    </div>
                
                                                  
                                    </div>
                                </div>
                        </div>
                </div>
            </div>
            
        </div>
    </div>
    </div>


