

<mat-card-title-group class="">

  <mat-card-title class="card-container-left">    <img class="application-img" src ="https://material.angular.io/assets/img/examples/shiba1.jpg" alt = "User Profile">
  </mat-card-title>
  <mat-card-title class="card-container-right ml-3 pt-1 mb-0"> 
    <mat-card-subtitle class="mb-2 app-username-small">Application Name</mat-card-subtitle>
    <mat-card-title><h3 class="app-username-title">DiVinci Property</h3></mat-card-title>
    <mat-card-subtitle class="app-date pt-1"><span>Start Date <span class="btn btn-sm btn-label-brand ml-1">05 Dec 2019</span></span>  <span class="ml-4">Due Date <span class="btn btn-sm btn-label-brand ml-1">25 Dec 2019</span></span></mat-card-subtitle>

  </mat-card-title>
    <mat-card-actions align="right" class="mb-0"> 
      <button mat-button class="other-docs mr-2">Other Documents</button>
      <button mat-flat-button color="primary" class="audit mr-2">Audit</button>

      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Check voice mail</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>
        
            <section class="example-section">
                <mat-progress-bar
                    class="example-margin"
                    
                    [mode]="mode"
                    [value]="value"
                    [bufferValue]="bufferValue">
                </mat-progress-bar>
              </section>
    </mat-card-actions>
</mat-card-title-group>
<div class="statistics-tabs mt-3 app-userdetails-footer" fxLayout="row wrap" fxLayoutAlign="space-evenly stretch" fxLayoutGap="20px">
  <mat-card fxFlex="0 1 calc(20% - 20px)" *ngFor="let card of tests; let i = index" class="product" fxLayout="column">
        <mat-card-header class="card-container mt-1 mb-2 pt-2">
              <mat-card-title class="card-container-left mb-0" >
                <mat-icon class="card-icon" aria-hidden="false" aria-label="Example home icon">{{card.icon}}</mat-icon></mat-card-title>
              <mat-card-title class="card-container-right icon-title mb-0">
                  {{card.title}}
                  <mat-card-subtitle class="icon-sub-title mb-0">
                    <a href="#">{{card.subTitle}}</a>
                  </mat-card-subtitle>
              </mat-card-title>
            </mat-card-header>
    </mat-card>
</div>


 
