<div class="mc-mat-tab-content">
  <form class="p-4">


      <div class="d-flex align-items-center py-1 justify-content-between">
          <div class="title2">  
              <h6>Applicant</h6>
              <p>Each file is an individual submission Mandatory fields marked in * as an indiactor for the use to upload files </p>
             </div>
          <!-- <div class="titile-actions"> 
              <button mat-button color="primary"> + ADD </button>
          </div> -->
      </div>

    <div class="table-box mb-5">  
        <div class="card card-body upload-chk-list">
            <div class="d-flex align-items-center">
                <div class="flex-item"><label> Request Recorded Deed </label> </div>
                <div class="flex-item">
                    <label for="fileUpload" class="m-0"> 
                        <a mat-button class="btn-upload" color="primary"> 
                          <i class="flaticon-upload-1 mr-2 i-bold font-md"></i> 
                          <span class="font-sm">Upload </span>    
                        </a>
                    <input hidden type="file" id="fileUpload" name="fileUpload" multiple="multiple" (change)="onFileSelected($event)">
                  </label>
                </div>
                <div class="flex-item flex-grow-1">
                  <div class="font-xs">No files uploaded yet!</div>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <div class="flex-item"><label>Evidence of Demolition*  </label> </div>
                <div class="flex-item">
                    <label for="fileUpload" class="m-0"> 
                        <a mat-button class="btn-upload" color="primary"> 
                          <i class="flaticon-upload-1 mr-2 i-bold font-md"></i> 
                          <span class="font-sm">Upload </span>    
                        </a>
                    <input hidden type="file" id="fileUpload" name="fileUpload" multiple="multiple" (change)="onFileSelected($event)">
                  </label>
                </div>
                <div class="flex-item flex-grow-1">
                  <div class="font-xs">No files uploaded yet! </div>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <div class="flex-item"><label> Reimbursement   </label> </div>
                <div class="flex-item">
                    <label for="fileUpload" class="m-0"> 
                        <a mat-button class="btn-upload" color="primary"> 
                          <i class="flaticon-upload-1 mr-2 i-bold font-md"></i> 
                          <span class="font-sm">Upload </span>    
                        </a>
                    <input hidden type="file" id="fileUpload" name="fileUpload" multiple="multiple" (change)="onFileSelected($event)">
                  </label>
                </div>
                <div class="flex-item flex-grow-1">
                  <div class="font-xs">No files uploaded yet! </div>
                </div>
            </div> 
            <div class="d-flex align-items-center">
                <div class="flex-item"><label> Ordinance*    </label> </div>
                <div class="flex-item">
                    <label for="fileUpload" class="m-0"> 
                        <a mat-button class="btn-upload" color="primary"> 
                          <i class="flaticon-upload-1 mr-2 i-bold font-md"></i> 
                          <span class="font-sm">Upload </span>    
                        </a>
                    <input hidden type="file" id="fileUpload" name="fileUpload" multiple="multiple" (change)="onFileSelected($event)">
                  </label>
                </div>
                <div class="flex-item flex-grow-1">
                  <div class="font-xs">No files uploaded yet! </div>
                </div>
            </div> 
        </div>
        <p class="mb-1 mt-4">
          <strong class="font-weight-500">NOTE:</strong> Please submit a hard copy of the reimbursement  </p>

      </div>
      <div class="step-footer d-flex justify-content-end px-4">
        <button mat-flat-button class="mat-light mr-2">Back</button>
        <button mat-flat-button color="accent" class="mr-2">Save Changes</button>
      </div>
    </form>
    </div>
