<!-- <mat-toolbar color="primary" class="navbar">
    <mat-toolbar-row>
        <span class="mat-title">
            Morris County
        </span>
        <span class="navbar-spacer"></span>
        <span>
            <mat-icon>search</mat-icon>
        </span>
        <span>
            <mat-icon [matBadge]="countUnreadMessages" matBadgeSize="small" matBadgePosition="above after"
                matBadgeColor="warn" [matBadgeHidden]="countUnreadMessages == 0">
                notifications</mat-icon>
        </span>
        <span>
            <mat-icon> settings</mat-icon>
        </span>
        <span>
            <mat-icon>account_circle</mat-icon>
        </span>
    </mat-toolbar-row>
</mat-toolbar> -->

<nav class="navbar navbar-expand-lg navbar-light bg-white top-header logo-pl">
    <a class="navbar-brand logo-brand mat-primary" href="#"><img src="../../../assets/morris-county-seal.png" alt="mc"></a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->

   
    <div class="d-flex justify-content-between main-header align-items-center">
      <h6 class="main-title">Morris County</h6>

      <ul class="navbar-nav ml-md-auto header-icons">
        <li class="nav-item">
            <button mat-icon-button aria-label="Example icon-button with a heart icon" class="header-topbar-icon">
                <i class="flaticon2-search-1"></i>
              </button>
          </li>
          <li class="nav-item">
              <button mat-icon-button aria-label="Example icon-button with a heart icon" class="header-topbar-icon">
                  <i class="flaticon2-bell-alarm-symbol"></i>
                </button>
            </li>
            <li class="nav-item">
                <button mat-icon-button aria-label="Example icon-button with a heart icon" routerLink="/" class="header-topbar-icon">
                  <i class="flaticon2-gear"></i>
                  </button>
              </li>
              <li class="nav-item">
                  <button mat-mini-fab color="warn" class="mat-elevation-z0 fab-header">
                    <i class="flaticon2-cube-1 text-white"></i>
                  </button>
              </li>
              <li class="nav-item mc-header-pic pl-2 align-self-center">
                  <div mat-card-avatar class="p-header-image" routerLink="/"></div>
                </li>
                
    </ul>

    </div>
     
    
  </nav>







