<nav *ngIf="(router.url)!== '/login'" class="navbar navbar-expand-lg navbar-light bg-white top-header logo-pl">
    <a class="navbar-brand logo-brand mat-primary"><img src="/assets/images/demo-logo.jpg" alt="mc"></a>

   
    <div class="d-flex justify-content-between main-header align-items-center">
      <h6 class="main-title">RAS County</h6>

      <ul class="navbar-nav ml-md-auto header-icons">
              <li class="nav-item mc-header-pic pl-2 align-self-center">
                  <div mat-card-avatar class="p-header-image" (click)="logOut()"></div>
                </li>
                
    </ul>

    </div>
     
    
  </nav>







