<!-- new code -->
<div class="mc-mat-tab-content p-3">
  <form class="p-1 pt-2">
      <div class="row">
        <div class="form-group col-lg-6 col-md-6 col-sm-12">
          <label>
            Grant Agreement
          </label>
          <div class="choose-file mb-3">
            <button mat-flat-button color="primary">Choose File</button>
            <input multiple hidden (change)="onFileSelected($event.target.value)" #fileInput type="file" id="file">
          </div>
        </div>       
      </div>
      <div class="row">
        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-12">
          <label>Grant Mailed</label>
          <mat-form-field appearance="outline">
            <!-- <mat-label>Choose a date</mat-label> -->
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-12">
          <label>Freeholder Meeting Date</label>
          <mat-form-field appearance="outline">
            <!-- <mat-label>Choose a date</mat-label> -->
            <input matInput [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-12">
          <label>CAF#</label>
          <mat-form-field appearance="outline">
            <input matInput />
          </mat-form-field>
        </div>
        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-12">
          <label>MUA/PC Resoluation</label>
          <mat-form-field appearance="outline">
            <!-- <mat-label>Choose a date</mat-label> -->
            <input matInput [matDatepicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-12">
          <label>MUA/PC Resoluation Date</label>
          <mat-form-field appearance="outline">
            <!-- <mat-label>Choose a date</mat-label> -->
            <input matInput [matDatepicker]="picker3">
            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
            <mat-datepicker #picker3></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-12">
          <label>Wire Transfer Date</label>
          <mat-form-field appearance="outline">
            <!-- <mat-label>Choose a date</mat-label> -->
            <input matInput [matDatepicker]="picker4">
            <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
          </mat-form-field>
        </div>
        
      </div>
    <hr class="my-5">
<h6>Grant Expiration Info</h6>
<div class="row">
  <div class="form-group col-lg-4 col-md-4 col-sm-6 col-12">
    <label>Grant Expiration Date</label>
    <mat-form-field appearance="outline">
      <!-- <mat-label>Choose a date</mat-label> -->
      <input matInput [matDatepicker]="picker5">
      <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
      <mat-datepicker #picker5></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="form-group col-lg-4 col-md-4 col-sm-6 col-12">
    <label>Grant Extension Expiration Date</label>
    <mat-form-field appearance="outline">
      <!-- <mat-label>Choose a date</mat-label> -->
      <input matInput [matDatepicker]="picker6">
      <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
      <mat-datepicker #picker6></mat-datepicker>
    </mat-form-field>
  </div>
  
  <div class="form-group col-lg-4 col-md-4 col-sm-6 col-12">
    <label> 2ndGrant Extension Expiration Date</label>
    <mat-form-field appearance="outline">
      <!-- <mat-label>Choose a date</mat-label> -->
      <input matInput [matDatepicker]="picker7">
      <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
      <mat-datepicker #picker7></mat-datepicker>
    </mat-form-field>
  </div>
  
  
</div>
<div class="row">
  <div class="form-group col-lg-4 col-md-4 col-sm-6 col-12">
    <label>
      Upload a copy of the application.
    </label>
    <div class="choose-file">
      <button mat-flat-button color="primary">Choose File</button>
      <input multiple hidden (change)="onFileSelected($event.target.value)" #fileInput type="file" id="file">
    </div>
  </div>
  <div class="form-group col-lg-4 col-md-4 col-sm-6 col-12">
    <label>
      Upload a copy of the application.
    </label>
    <div class="choose-file">
      <button mat-flat-button color="primary">Choose File</button>
      <input multiple hidden (change)="onFileSelected($event.target.value)" #fileInput type="file" id="file">
    </div>
    <button class="btn btn-success send-mail mt-4 p-2 pr-4 pl-4">Send Email</button>
  </div>
  <div class="form-group col-lg-4 col-md-4 col-sm-6 col-12">
    <label>
      Upload a copy of the application.
    </label>
    <div class="choose-file">
      <button mat-flat-button color="primary">Choose File</button>
      <input multiple hidden (change)="onFileSelected($event.target.value)" #fileInput type="file" id="file">
    </div>
    <button class="btn btn-success send-mail mt-4 p-2 pr-4 pl-4">Send Email</button>
  </div>
  
</div>
    
        
        <div class="step-footer d-flex justify-content-end px-4">
          <button mat-flat-button class="mat-light mr-2">Back</button>
          <button mat-flat-button color="accent" class="mr-2">Save Changes</button>
        </div>
    </form>
    </div>
<!-- new code -->

<!-- old code -->
<!-- <mat-card>
    <mat-card-content>
        <form>
            <table>
                <tr>
                    <td>
                        <div class="choose-file">
                            <label for="fileUpload"> 
                              <input hidden type="file" id="fileUpload" name="fileUpload" multiple="multiple" (change)="onFileSelected($event)"
                              />
                              <button type="button"   color="primary">Choose Files</button>
                        <span>Upload</span>
                              </label> 
                        </div>
                    </td>
                    <td>
                        <mat-form-field class="example-chip-list">
                          <mat-chip-list #chipList aria-label="Fruit selection">
                            <mat-chip
                              *ngFor="let fruit of currentInput;let i=index;"
                              [selectable]="selectable"
                              [removable]="removable"
                              (removed)="remove(i)">
                              {{fruit.name}}
                              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            </mat-chip-list>
                            </mat-form-field>
                      </td>
                  </tr>
            </table>
            <table>
                <tr>
                    <td align="left">
<table>
    <tr>
        <td>
          <mat-label>Grant Mailed </mat-label>
        </td>
        <td>
          <mat-label>Freeholder Meeting Date  </mat-label>
        </td>
      </tr>
      <tr>
        <td>
            <mat-form-field appearance="outline">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
        </td>
        <td>
          <mat-form-field appearance="outline">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker1">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </td>
      </tr>
</table>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                  <mat-label>CAF# </mat-label>
                                </td>
                                <td>
                                  <mat-label>MUA/PC Resoluation  </mat-label>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                    <mat-form-field appearance="outline">
                                        <input matInput />
                                      </mat-form-field>
                                </td>
                                <td>
                                  <mat-form-field appearance="outline">
                                      <mat-label>Choose a date</mat-label>
                                      <input matInput [matDatepicker]="picker4">
                                      <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                                      <mat-datepicker #picker4></mat-datepicker>
                                    </mat-form-field>
                                </td>
                              </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table>
              <tr>
                <td>
                    <mat-label>MUA/PC Resoluation Date </mat-label>
                  </td>
                  <td>
                    <mat-label>Wire Transfer Date  </mat-label>
                  </td>
              </tr>
              <tr>
                <td>
                    <mat-form-field appearance="outline">
                        <mat-label>Choose a date</mat-label>
                        <input matInput [matDatepicker]="picker2">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>
                </td>
                <td>
                  <mat-form-field appearance="outline">
                      <mat-label>Choose a date</mat-label>
                      <input matInput [matDatepicker]="picker3">
                      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                      <mat-datepicker #picker3></mat-datepicker>
                    </mat-form-field>
                </td>
              </tr>
            </table>
            <mat-divider></mat-divider>
            <h3>Grant Expiration Info</h3>
            <table class="grant-expiration">
               <td align="left">
                <tr>
                    <td>
                      <mat-label>Grant Expiration Date </mat-label>
                    </td>
                    <td>
                      <mat-label>Grant Extension Expiration Date  </mat-label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker5">
                            <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                            <mat-datepicker #picker5></mat-datepicker>
                          </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field appearance="outline">
                          <mat-label>Choose a date</mat-label>
                          <input matInput [matDatepicker]="picker6">
                          <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                          <mat-datepicker #picker6></mat-datepicker>
                        </mat-form-field>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <mat-label>Freeholder Resoluation  </mat-label>
                      </td> 
                      <td>
                        <mat-label>Freeholder Resoluation  </mat-label>
                      </td> 
                  </tr>
                  <tr>
                      <td>
                        <div class="choose-file">
                            <label for="fileUpload"> 
                              <input hidden type="file" id="fileUpload" name="fileUpload" multiple="multiple" (change)="onFileSelected($event)"
                              />
                              <button type="button"   color="primary">Choose Files</button>
                        <span>Upload</span>
                              </label> 
                        </div>
                      </td>
                      <td>
                        <div class="choose-file">
                            <label for="fileUpload"> 
                              <input hidden type="file" id="fileUpload" name="fileUpload" multiple="multiple" (change)="onFileSelected($event)"
                              />
                              <button type="button"   color="primary">Choose Files</button>
                        <span>Upload</span>
                              </label> 
                        </div>
                      </td>
                  </tr>
                  <tr>
                    <td>
                        <mat-form-field class="example-chip-list">
                          <mat-chip-list #chipList aria-label="Fruit selection">
                            <mat-chip
                              *ngFor="let fruit of currentInput;let i=index;"
                              [selectable]="selectable"
                              [removable]="removable"
                              (removed)="remove(i)">
                              {{fruit.name}}
                              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            </mat-chip-list>
                            </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field class="example-chip-list">
                          <mat-chip-list #chipList aria-label="Fruit selection">
                            <mat-chip
                              *ngFor="let fruit of currentInput;let i=index;"
                              [selectable]="selectable"
                              [removable]="removable"
                              (removed)="remove(i)">
                              {{fruit.name}}
                              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            </mat-chip-list>
                            </mat-form-field>
                      </td>
                  </tr>
                  <tr>
                      <td></td>
                      <td><button mat-raised-button color="primary">Send Email</button></td>
                  </tr>
               </td> 
               <td>
                <tr>
                    <td>
                      <mat-label>2nd Grant Extension Expiration Date </mat-label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker7">
                            <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
                            <mat-datepicker #picker7></mat-datepicker>
                          </mat-form-field>
                      </td>
                  </tr>
                  <tr>
                    <mat-label>Freeholder Resoluation  </mat-label>
                  </tr>
                  <tr>
                    <td>
                        <div class="choose-file">
                            <label for="fileUpload"> 
                              <input hidden type="file" id="fileUpload" name="fileUpload" multiple="multiple" (change)="onFileSelected($event)"
                              />
                              <button type="button"   color="primary">Choose Files</button>
                        <span>Upload</span>
                              </label> 
                        </div>
                      </td>
                  </tr>
                  <tr>
                    <td>
                        <mat-form-field class="example-chip-list">
                          <mat-chip-list #chipList aria-label="Fruit selection">
                            <mat-chip
                              *ngFor="let fruit of currentInput;let i=index;"
                              [selectable]="selectable"
                              [removable]="removable"
                              (removed)="remove(i)">
                              {{fruit.name}}
                              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                            </mat-chip>
                            </mat-chip-list>
                            </mat-form-field>
                      </td>
                  </tr>
                  <tr>
 <td><button mat-raised-button color="primary">Send Email</button></td>
                  </tr>
               </td>
            </table>
            <mat-card-actions align="right">
                <button mat-raised-button class="back-button">Back</button>
                <button mat-raised-button color="primary">Save Changes</button>
              </mat-card-actions>
        </form>
    </mat-card-content>
</mat-card> -->
