<div class="mc-mat-tab-content p-3">
  <form>

    <div class="form-center-container">
      <div class="form-group">
        <label>Project Title</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group mat-chk-group">
        <span class="mr-5 mb-2">
          <mat-checkbox>Municipality </mat-checkbox>
        </span>
        <span class="mr-3 mb-2">
          <mat-checkbox>Charitable Trust </mat-checkbox>
        </span>
      </div>
      <div class="form-group">
        <label>Agency Name</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Address </label>
        <textarea rows="4" class="form-control"></textarea>
      </div>

      <div class="yes-group">
        <p class="text-muted">
          Is the site designated for compliance with a Mount Laurel court settlement or
          identified in a complaint for declaratory judgement for affordable housing,
          or designated in an adopted masterplan or going ordinance for affordable housing?
        </p>
        <div class="form-group mat-chk-group">
          <span class="mr-4 mb-1">
            <mat-checkbox>Yes </mat-checkbox>
          </span>
          <span class="mb-1">
            <mat-checkbox>No </mat-checkbox>
          </span>
        </div>
      </div>
    </div>





    <hr class="my-5">






    <div class="form-center-container">

      <div class="yes-group">
        <p class="text-dark">
          <strong>
            Does your Municipality share any active recreational facilities with
            another municipality?
          </strong>
        </p>
        <div class="form-group mat-chk-group">
          <span class="mr-4 mb-1">
            <mat-checkbox color="primary"> Yes </mat-checkbox>
          </span>
          <span class="mb-1">
            <mat-checkbox>No </mat-checkbox>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label>If yes, which town’s and how? </label>
        <textarea rows="4" class="form-control" placeholder="Please Enter Here"></textarea>
      </div>

      <div class="form-group">
        <label>If acquired, how will the lands be managed? </label>
        <textarea rows="4" class="form-control" placeholder="Please Enter Here"></textarea>
      </div>

      <div class="py-2 mb-3">
        <div><strong> Current proof of qualification as a charitable conservancy* </strong> </div>
        <small class="text-muted">
          <em>* Is the site designated for compliance with a Mount Laurel court settlement or identified in
            a Complaint for Declaratory Judgement for affordable housing, or designated in an adopted master Is the site
            designated for compliance with a Mount Laurel court settlement or identified in a
            Complaint for Declaratory Judgement for affordable housing, or designated in an adopted master </em>
        </small>
      </div>

      <div class="form-group">
        <label>How will the charitable conservancy maintain the property? (Please explain) </label>
        <textarea rows="4" class="form-control" placeholder="Please Enter Here"></textarea>
      </div>
      <div class="form-group">
        <label>What would happen to land’s if the conservancy no longer existed? (Please explain) </label>
        <textarea rows="4" class="form-control" placeholder="Please Enter Here"></textarea>
      </div>
      <div class="form-group">
        <label>What land’s do you currently own? </label>
        <textarea rows="4" class="form-control" placeholder="Please Enter Here"></textarea>
      </div>

    </div>

  </form>








  <div class="step-footer d-flex justify-content-end">
    <button mat-flat-button color="accent" class="mr-2">Save Changes</button>
    <button mat-flat-button color="primary">
      Next <i class="la la-arrow-right ml-1"></i>
    </button>
  </div>

</div>















<!-- <mat-card>
  <mat-card-header>
    <mat-card-title>Create Profile</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <table class="example-full-width" cellspacing="0" align="cnetre">
        <tr>
          <td>
            <table class="right-table">
              <tr>
                <td>
                  <mat-label>Project Title </mat-label>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <input matInput placeholder="Project Titile" width="800px" />
                  </mat-form-field>
                </td>
              </tr>
              <td><table><tr><td>
                <mat-checkbox>Municipality</mat-checkbox></td><td>
                <mat-checkbox>Charitable Trust</mat-checkbox>
              </td></tr></table></td>
              <tr>
                <td>
                  <mat-label>Bonton Town </mat-label>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <input matInput placeholder="Bonton Town" />
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-label>Address</mat-label>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <textarea matInput></textarea>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-label>Is the site designated for compliance with a Mount Laurel court settlement or identified in a complaint</mat-label>
                </td>
              </tr>
              <tr>
                <td>
                  <table><tr><td><mat-checkbox>Yes</mat-checkbox></td><td>
                    <mat-checkbox>No</mat-checkbox>
                  </td></tr></table>
                </td>
              </tr>
              <mat-divider></mat-divider>
              <tr>
                <td>
                  <mat-label>Does your Muncipality share any active recreation facilities with another municipality</mat-label>
                </td>
              </tr>
              <tr>
                <td>
                  <table><tr><td><mat-checkbox>Yes</mat-checkbox></td><td>
                    <mat-checkbox>No</mat-checkbox>
                  </td></tr></table>
                </td>
              </tr> 
              <tr>
                <td>
                  <mat-label>If yes which town's and how?</mat-label>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <textarea matInput></textarea>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-label>If acqired,how will the lands be managed</mat-label>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <textarea matInput></textarea>
                  </mat-form-field>
                </td>
              </tr>
                <h4>Please upload the copy of the following:</h4>
              <tr>
                  <td>
                    <table><tr><td><mat-checkbox> <button id="uploadButton" class="md-raised md-primary">The organiations by Laws </button>
                      <input id="fileInput" name="file" type="file" class="ng-hide" multiple></mat-checkbox></td><td>
                     </td></tr></table>
                  </td>
              </tr>
              <tr>
                <td>
                  <mat-checkbox> <button id="uploadButton" class="md-raised md-primary">The organiations certifications of incorporation </button>
                    <input id="fileInput" name="file" type="file" class="ng-hide" multiple></mat-checkbox>
                  </td>
              </tr>
              <tr>
                <td>
                  <mat-label>Current proof of qualification charitable conservancy*</mat-label>
                  </td>
              </tr>
              <tr>
                <td>
                  *Is the site designated compliance
                </td>
              </tr>
              <tr>
                <td>
                  <mat-label>Is the charitable conservancy maintain the property?(Please explain)</mat-label>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <textarea matInput></textarea>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-label>What would happen if the if the conservancy no longer existed(Please explain)</mat-label>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <textarea matInput></textarea>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-label>What lands do you currently own</mat-label>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <textarea matInput></textarea>
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions align="right">
    <button mat-raised-button color="primary">Save Changes</button>
    <button mat-raised-button color="primary">Next </button>
  </mat-card-actions>
</mat-card> -->