<mat-card>
  <mat-card-header>
    <mat-card-title>Create Profile</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <table class="example-full-width" cellspacing="0" align="cnetre">
        <tr>
          <td>
            <table class="right-table">
              <tr>
                <td>
                  <mat-label>Project Title </mat-label>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <input matInput placeholder="Project Titile" width="800px" />
                  </mat-form-field>
                </td>
              </tr>
              <td><table><tr><td><mat-checkbox>Municipality</mat-checkbox></td><td>
                <mat-checkbox>Charitable Trust</mat-checkbox>
              </td></tr></table></td>
              <tr>
                <td>
                  <mat-label>Bonton Town </mat-label>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <input matInput placeholder="Bonton Town" />
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-label>Address</mat-label>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <textarea matInput></textarea>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-label>Is the site designated for compliance with a Mount Laurel court settlement or identified in a complaint</mat-label>
                </td>
              </tr>
              <tr>
                <td>
                  <table><tr><td><mat-checkbox>Yes</mat-checkbox></td><td>
                    <mat-checkbox>No</mat-checkbox>
                  </td></tr></table>
                </td>
              </tr>
              <mat-divider></mat-divider>
              <tr>
                <td>
                  <mat-label>Does your Muncipality share any active recreation facilities with another municipality</mat-label>
                </td>
              </tr>
              <tr>
                <td>
                  <table><tr><td><mat-checkbox>Yes</mat-checkbox></td><td>
                    <mat-checkbox>No</mat-checkbox>
                  </td></tr></table>
                </td>
              </tr> 
              <tr>
                <td>
                  <mat-label>If yes which town's and how?</mat-label>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <textarea matInput></textarea>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-label>If acqired,how will the lands be managed</mat-label>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <textarea matInput></textarea>
                  </mat-form-field>
                </td>
              </tr>
                <h4>Please upload the copy of the following:</h4>
              <tr>
                  <td>
                    <table><tr><td><mat-checkbox> <button id="uploadButton" class="md-raised md-primary">The organiations by Laws </button>
                      <input id="fileInput" name="file" type="file" class="ng-hide" multiple></mat-checkbox></td><td>
                     </td></tr></table>
                  </td>
              </tr>
              <tr>
                <td>
                  <mat-checkbox> <button id="uploadButton" class="md-raised md-primary">The organiations certifications of incorporation </button>
                    <input id="fileInput" name="file" type="file" class="ng-hide" multiple></mat-checkbox>
                  </td>
              </tr>
              <tr>
                <td>
                  <mat-label>Current proof of qualification charitable conservancy*</mat-label>
                  </td>
              </tr>
              <tr>
                <td>
                  *Is the site designated compliance
                </td>
              </tr>
              <tr>
                <td>
                  <mat-label>Is the charitable conservancy maintain the property?(Please explain)</mat-label>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <textarea matInput></textarea>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-label>What would happen if the if the conservancy no longer existed(Please explain)</mat-label>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <textarea matInput></textarea>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-label>What lands do you currently own</mat-label>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <textarea matInput></textarea>
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
  <mat-card-actions align="right">
    <button mat-raised-button color="primary">Save Changes</button>
    <button mat-raised-button color="primary">Next ----></button>
  </mat-card-actions>
</mat-card>