<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- ID Column -->
    <ng-container matColumnDef="projectId">
      <th mat-header-cell *matHeaderCellDef> Project ID </th>
      <td mat-cell *matCellDef="let element"> {{element.projectId}} </td>
    </ng-container>
  
    <!-- Program Column -->
    <ng-container matColumnDef="program">
      <th mat-header-cell *matHeaderCellDef> Program </th>
      <td mat-cell *matCellDef="let element"> {{element.program}} </td>
    </ng-container>
  
    <!-- ProjectTitle Column -->
    <ng-container matColumnDef="projectTitle">
      <th mat-header-cell *matHeaderCellDef> Project Title </th>
      <td mat-cell *matCellDef="let element"> {{element.projectTitle}} </td>
    </ng-container>
  
    <!-- FundingYear Column -->
    <ng-container matColumnDef="fundingYear">
      <th mat-header-cell *matHeaderCellDef> Year </th>
      <td mat-cell *matCellDef="let element"> {{element.fundingYear}} </td>
    </ng-container>
   
    <!-- Applicant Column -->
    <ng-container matColumnDef="applicant">
      <th mat-header-cell *matHeaderCellDef> Applicant </th>
      <td mat-cell *matCellDef="let element"> {{element.applicant}} </td>
    </ng-container>

    <!-- Municipality Column -->
    <ng-container matColumnDef="municipality">
      <th mat-header-cell *matHeaderCellDef> Municipality </th>
      <td mat-cell *matCellDef="let element"> {{element.municipality}} </td>
    </ng-container>
      
    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>
    

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="/ostf" ></tr>  
    <!-- routerLink="/ostf/" -->
  </table>