<div>
  <div class="mc-page-header pb-2 d-flex justify-content-between align-items-center">
    <div>
      <h2 class="mb-0">Applications</h2>
      <small>
        Create and Manage Applications
      </small>
    </div>
    <div class="">
      <div class="searchbox d-inline-block mr-2">
        <input (keyup)="doFilter($event.target.value)" class="form-control py-2" type="search" placeholder="Search">
        <i class="flaticon2-search-1"></i>
      </div>

      <button mat-raised-button color="primary" routerLink="/ostf/createapplication">
        <i class="flaticon2-add-1 mr-1"></i> Create Application
      </button>

    </div>
  </div>
  <table mat-table [dataSource]="dataSource" class="mc-table">

    <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="projectId">
      <th mat-header-cell *matHeaderCellDef> By Applicant </th>
      <td mat-cell *matCellDef="let element">
        <div class="media align-items-center">
          <div class="media-body">
            <p class="mb-0">{{element.projectId}}</p>
          </div>
        </div>
      </td>
    </ng-container>

    <!-- Program Column -->
    <ng-container matColumnDef="applicant">
      <th mat-header-cell *matHeaderCellDef> Project Name </th>
      <td mat-cell *matCellDef="let element"> <a
          class="mc-projectname">{{element.applicant}}</a> </td>
    </ng-container>



    <!-- FundingYear Column -->
    <ng-container matColumnDef="fundingYear">
      <th mat-header-cell *matHeaderCellDef> Created Date </th>
      <td mat-cell *matCellDef="let element"> {{element.fundingYear}} </td>
    </ng-container>

    <!-- Applicant Column -->
    <ng-container matColumnDef="program">
      <th mat-header-cell *matHeaderCellDef> Fund </th>
      <td mat-cell *matCellDef="let element"> {{element.program}} </td>
    </ng-container>

    <!-- Municipality Column -->
    <ng-container matColumnDef="municipality">
      <th mat-header-cell *matHeaderCellDef> Primary Contact </th>
      <td mat-cell *matCellDef="let element"> {{element.municipality}} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"><span
          class="btn mc-badge btn-label-brand">{{element.status}}</span></td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getApplicationDetails(row.projectId)"></tr>
    <!-- routerLink="/ostf/project/projectview/1/" -->
  </table>
</div>



<div>




  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <!-- routerLink="/ostf/project/projectview/1/" -->
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>