<!-- new code -->
<div class="mc-mat-tab-content p-3">
  <form class="p-2 pt-3">
    <h5 class="mb-3">Surevy</h5>
      <div class="row">
        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-12">
          <label>Surveyor</label>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Riyan Mochie"/>
          </mat-form-field>
        </div>
        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-12">
          <label>Survey Date</label>
          <mat-form-field appearance="outline">
            <!-- <mat-label>Choose a date</mat-label> -->
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-12">
          <label>Last Revision</label>
          <mat-form-field appearance="outline">
            <!-- <mat-label>Choose a date</mat-label> -->
            <input matInput [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-12">
          <label>Site Visit Start</label>
          <mat-form-field appearance="outline">
            <mat-select placeholder="Select" name="recreation">
                <mat-option value="One" *ngFor="let time of timeArr">{{time}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        
      </div>
    <!-- <h5>Appraiser</h5>
      <div class="row">
        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-12">
          <label>Appraiser Value</label>
          <mat-form-field appearance="outline">
            <input matInput placeholder="Riyan Mochie"/>
          </mat-form-field>
          </div>
          <div class="form-group col-lg-3 col-md-3 col-sm-6 col-12">
            <label>Pre Highlands Value</label>
            <mat-form-field appearance="outline">
              <input matInput />
            </mat-form-field>
            </div>
            <div class="form-group col-lg-3 col-md-3 col-sm-6 col-12">
              <label>Appraisal Date</label>
              <mat-form-field appearance="outline">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker2">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
              </div>
              <div class="form-group col-lg-3 col-md-3 col-sm-6 col-12">
                <label>Appraisal Firm</label>
                <mat-form-field appearance="outline">
                  <input matInput />
                </mat-form-field>
                </div>
        </div> -->
        <div class="row">
          <div class="form-group col-lg-6 col-md-6 col-sm-6 col-12">
            <label>Appraisal Comment</label>
            <mat-form-field appearance="outline">
              <textarea matInput rows="4" placeholder="Please Enter Here"></textarea>
            </mat-form-field>
            </div>
            <div class="form-group col-lg-6 col-md-6 col-sm-6 col-12">
              <label>
                Upload a copy of the application.
              </label>
              <div class="choose-file">
                <button mat-flat-button color="primary">Choose File</button>
                <input multiple hidden (change)="onFileSelected($event.target.value)" #fileInput type="file" id="file">
              </div>
            </div>
            <div class="form-group col-lg-3 col-md-3 col-sm-3 col-12">
              <label>Date corrected</label>
              <mat-form-field appearance="outline">
                <!-- <mat-label>Choose a date</mat-label> -->
                <input matInput [matDatepicker]="picker3">
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
              </mat-form-field>
              <button  class="btn btn-success p-3 mt-3">Correct in GIS</button>

            </div>
        </div>
        <div class="step-footer d-flex justify-content-end px-4">
          <button mat-flat-button class="mat-light mr-2">Back</button>
          <button mat-flat-button color="accent" class="mr-2">Save Changes</button>
        </div>
    </form>
    </div>
<!-- new code -->

 