<div class="page">
    <div class="page-header top-header">
        <app-page-header></app-page-header>
    </div>
    <div class="page-content">
        <mat-sidenav-container autosize style="position: absolute;right: 0px;left: 0px;bottom: 0px;top: 0px;">
            <!-- (mouseover)="collaps = !collaps" [ngClass]="collaps ? '' : 'openmenu'" -->
            <mat-sidenav #sideNav mode="side" class="sidenav">
                <app-side-nav-items></app-side-nav-items>
            </mat-sidenav>

            <mat-sidenav-content class="router-content">
                <div class="container-fluid p-3">
                   
                    <div class="pagebody">
                        <router-outlet></router-outlet>
                    </div>

                </div>

                <div class="mc-footer">
                    <app-page-footer></app-page-footer>
                </div>

            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>


</div>