<div class="mc-mat-tab-content">
  <form class="p-4">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <h5> Project Narrative </h5> 
            <p> <em> Using this page Only,please explain why this project is high priority for your municipality or
             organization.This is an opportunity for you to make a case for your project and to convey 
            special features/factors of the site.which may not be adaquately conveyed elsewhere in the application.</em> </p>
          <textarea rows="20" class="form-control bg-light"></textarea>
        </div>
      </div>
    </div>
    <div class="step-footer d-flex justify-content-end px-4">
      <button mat-flat-button class="mat-light mr-2">Back</button>
      <button mat-flat-button color="accent" class="mr-2">Save Changes</button>
      <button mat-flat-button color="primary" routerLink="/ostf/signature/view/1">
        Next <i class="la la-arrow-right ml-1"></i>
      </button>
    </div>
    </form>
    </div>
<!-- <mat-card>
    <mat-card-content>
        <form>
            <table class="table-full-width">
                <tr>
                    <td><mat-label>Project Narrative:</mat-label><br/>
                        <mat-label>Using this page Only,please explain why this project is high priority for your municipality or organization.This is an opportunity for you to make a case for your project and to convey special features/factors of the site.which may not be adaquately conveyed elsewhere in the application.</mat-label>
                    </td>
                </tr>
              <tr>
                <td>
                  <mat-form-field class="text-area-full" appearance="outline">
                    <textarea matInput rows="25"></textarea>
                  </mat-form-field>
                </td>
              </tr>
            </table>
            <mat-card-actions align="right">
              <button mat-flat-button class="mat-light mr-2">Back</button>
              <button mat-flat-button color="accent" class="mr-2">Save Changes</button>
              <button mat-flat-button color="primary">
                Next <i class="la la-arrow-right ml-1"></i>
              </button>
            </mat-card-actions>
</form>
    </mat-card-content>
</mat-card>
 -->
