<app-ostf-manage-prg-header [page]="page" (send)="getData($event)"></app-ostf-manage-prg-header>
<table  mat-table [dataSource]="dataSource" class="mc-table">
    <!-- Program Column -->
    <ng-container matColumnDef="Full Name">
      <th mat-header-cell *matHeaderCellDef>Full Name</th> 
      <td mat-cell *matCellDef="let element"> 
        <div class="media-body">
            <h6 class="mt-0 mb-1">{{element.fullName}}</h6>
            <p class="mb-0">{{element.lastInvited}}</p>
          </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element"> <a href="#" class="mc-projectname">{{element.email}}</a> </td>
      </ng-container>

      <ng-container matColumnDef="Program">
        <th mat-header-cell *matHeaderCellDef>Program</th>
        <td mat-cell *matCellDef="let element"> {{element.program}}] </td>
      </ng-container>

      <ng-container matColumnDef="Role">
        <th mat-header-cell *matHeaderCellDef>Role</th>
        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
      </ng-container>
  
    <!-- ProjectTitle Column -->
    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/ostf/project/projectview/1/project/view/1">
            <!-- <mat-icon>edit</mat-icon> -->
            <span>Send Invite</span>
          </button>
          <button mat-menu-item>
            <!-- <mat-icon>visibility</mat-icon> -->
            <span>Edit</span>
          </button>
          <button mat-menu-item>
            <!-- <mat-icon>delete</mat-icon> -->
            <span>Remove Access</span>
          </button>
        </mat-menu>
         </td>
        
    </ng-container>
  
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>  
    <!-- routerLink="/ostf/project/projectview/1/" -->
  </table>
