<div>
  <!-- breadcrumb -->
<a class="back-link" (click)="backClicked()"><span><</span> Back</a>

  <nav aria-label="breadcrumb" class="row">
      <ol class="breadcrumb m-0 bg-transparent">
        <li class="breadcrumb-item"><a routerLink="/programManager">Program Manager</a></li>
        <li class="breadcrumb-item"><a routerLink="/programManager">User Management </a></li>
        <li class="breadcrumb-item active"> {{page}}</li>
      </ol>
    </nav>
    <div class="mc-page-header pb-2 d-flex justify-content-between align-items-center">
      <div>
          <h2 class="mb-0">{{page}}</h2>
         
      </div>
      <div class="" *ngIf="page=='County Users'">
          <div class="searchbox d-inline-block mr-2">
              <input (keyup)="doFilter($event.target.value)" class="form-control py-2" type="search" placeholder="Search">
              <i class="flaticon2-search-1"></i>
          </div>

          <button mat-raised-button color="primary"  (click)="openDialog('Add',{})">
              <i class="flaticon2-add-1 mr-1"></i> Add User
          </button>
         
      </div>
  </div>

<!-- pagetitle -->

</div>
<table  mat-table [dataSource]="dataSource" class="mc-table">
    <!-- Program Column -->
    <ng-container matColumnDef="Full Name">
      <th mat-header-cell *matHeaderCellDef>Full Name</th> 
      <td mat-cell *matCellDef="let element"> 
        <div class="media-body">
            <h6 class="mt-0 mb-1">{{element.fullName}}</h6>
            <p class="mb-0">{{element.lastInvited}}</p>
          </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element"> <a href="#" class="mc-projectname">{{element.email}}</a> </td>
      </ng-container>

      <ng-container matColumnDef="Program">
        <th mat-header-cell *matHeaderCellDef>Program</th>
        <td mat-cell *matCellDef="let element"> {{element.program}} </td>
      </ng-container>

      <ng-container matColumnDef="Role">
        <th mat-header-cell *matHeaderCellDef>Role</th>
        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
      </ng-container>
  
    <!-- ProjectTitle Column -->
    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element;let i=index;">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <!-- <mat-icon>edit</mat-icon> -->
            <span>Send Invite</span>
          </button>
          <button mat-menu-item (click)="editData('Edit',element,i)">
            <!-- <mat-icon>visibility</mat-icon> -->
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="delete(i)">
            <!-- <mat-icon>delete</mat-icon> -->
            <span>Remove Access</span>
          </button>
        </mat-menu>
         </td>
        
    </ng-container>
  
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>  
    <!-- routerLink="/ostf/project/projectview/1/" -->
  </table>
