<mat-card>
    <mat-card-content>
        <table>
            <tr>
                <td>
                  <mat-label>Committee Review Book Comment</mat-label>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <textarea matInput></textarea>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-label>Freeholder Summary Book Comment</mat-label>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <textarea matInput></textarea>
                  </mat-form-field>
                </td>
              </tr>
        </table>
    </mat-card-content>
    <mat-card-actions align="right">
        <button mat-raised-button class="back-button">Back</button>
        <button mat-raised-button color="primary">Save Changes</button>
      </mat-card-actions>
</mat-card>

