<mat-card>
    <mat-card-content>
        <table>
            <tr>
                <td>
                  <mat-label>Committee Review Book Comment</mat-label>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <textarea matInput></textarea>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-label>Freeholder Summary Book Comment</mat-label>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <textarea matInput></textarea>
                  </mat-form-field>
                </td>
              </tr>
        </table>
    </mat-card-content>
    <mat-card-actions align="right">
      <button mat-flat-button class="mat-light mr-2">Back</button>
      <button mat-flat-button color="accent" class="mr-2">Save Changes</button>
      </mat-card-actions>
</mat-card>

