<mat-card-content>
    <form>
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td mat-card align="left">
            <table class="right-table">
                <tr>
                  <td>
                    <mat-label>Primary Contact Name </mat-label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-form-field appearance="outline">
                      <input matInput placeholder="Primary Contact Name" width="800px" />
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-label>Title </mat-label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-form-field appearance="outline">
                      <input matInput placeholder="Title" />
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                    <td>
                      <mat-label>Editor/Contributor's Email </mat-label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field appearance="outline">
                        <input matInput placeholder="Title" />
                      </mat-form-field>
                    </td>
                  </tr>
             
              
              </table>

          </td>
          <td>
                <table class="right-table">
                    <tr>
                      <td>
                        <mat-label>Email</mat-label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field appearance="outline">
                          <input matInput placeholder="Email" width="800px" />
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-label>Phone </mat-label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field appearance="outline">
                          <input matInput placeholder="" />
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                        <td>
                          <mat-label>Signatory-CEO/Mayor Email </mat-label>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <mat-form-field appearance="outline">
                            <input matInput placeholder="" />
                          </mat-form-field>
                        </td>
                      </tr>
                 
                  
                  </table>
      </table>
      <mat-card-actions align="right">
        <button mat-raised-button color="primary">Save & Send Invite ----></button>
      </mat-card-actions>
      <mat-card-actions align="right">
        <button mat-raised-button color="primary">Back</button>
        <button mat-raised-button color="primary">Save Changes</button>
        <button mat-raised-button color="primary">Next ----></button>
      </mat-card-actions>
    </form>
  </mat-card-content>