<mat-card-content>
    <form>
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td mat-card align="left">
            <table class="right-table">
                <tr>
                  <td>
                    <mat-label>Primary Contact Name </mat-label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-form-field appearance="outline">
                      <input matInput placeholder="Primary Contact Name" width="800px" />
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-label>Title </mat-label>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-form-field appearance="outline">
                      <input matInput placeholder="Title" />
                    </mat-form-field>
                  </td>
                </tr>
              </table>

          </td>
          <td>
                <table>
                    <tr>
                      <td>
                        <mat-label>Email</mat-label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field appearance="outline">
                          <input matInput placeholder="Email" width="800px" />
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-label>Phone </mat-label>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field appearance="outline">
                          <input matInput placeholder="" />
                        </mat-form-field>
                      </td>
                    </tr>
                  </table>
      </table>
      <!-- role table -->
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef> Role </th>
          <td mat-cell *matCellDef="let element"> {{element.role}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>  
        <!-- routerLink="/ostf/" -->
      </table>
      <mat-card-actions align="right">
        <button mat-raised-button color="primary">Save & Send Invite ----></button>
      </mat-card-actions>
      <mat-card-actions align="right">
        <button mat-raised-button color="primary">Back</button>
        <button mat-raised-button color="primary">Save Changes</button>
        <button mat-raised-button color="primary">Next ----></button>
      </mat-card-actions>
    </form>
  </mat-card-content>