<div class="page-footer align-items-center d-flex w-100 justify-content-between">
    <div class="mc-footer__copyright justify-content-start">
        2020&nbsp;©&nbsp;<a href="http://keenthemes.com/metronic" target="_blank" class="mc-link">Keenthemes</a>
    </div>
    
    <div class="mc-footer__menu justify-content-end">
        <a href="#" target="_blank" class="mc-link">About</a>
        <a href="#" target="_blank" class="mc-link">Team</a>
        <a href="#" target="_blank" class="mc-link">Contact</a>
    </div>
</div>
