
@import '~@angular/material/theming';





body .mat-button, body .mat-raised-button, body .mat-icon-button, body .mat-stroked-button, body .mat-flat-button, body .mat-fab, body .mat-mini-fab {
  font-family: Poppins,Roboto,sans-serif;
  font-size: 13px;
  font-weight: 300;
}

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config( $font-family: 'Poppins,Roboto,sans-serif', $display-4: mat-typography-level(40px, 40px, 300), $display-3: mat-typography-level(38px, 38px, 300), $display-2: mat-typography-level(36px, 36px, 300), $display-1: mat-typography-level(34px, 34px, 400), $headline: mat-typography-level(24px, 32px, 400), $title: mat-typography-level(20px, 32px, 400), $subheading-2: mat-typography-level(16px, 28px, 400), $subheading-1: mat-typography-level(15px, 24px, 400), $body-2: mat-typography-level(12px, 1.5, 500), $body-1: mat-typography-level(11px, 20px, 400), $caption: mat-typography-level(12px, 20px, 400), $button: mat-typography-level(14px, 14px, 400), $input: mat-typography-level(14px, 1.125, 400) );


body {
  @include angular-material-typography($custom-typography);
}

$my-app-primary: mat-palette($mat-indigo,700, 300, 900);
$my-app-accent: mat-palette($mat-light-blue, A700);
$my-app-warn: mat-palette($mat-pink);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);

.alternate-theme {
  $alternate-primary: mat-palette($mat-light-blue);
  $alternate-accent: mat-palette($mat-yellow, 400);

  $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);

  @include angular-material-theme($alternate-theme);
}


.mat-button.mat-primary {
  background-color: transparent !important;
  color: $blue !important;
}

.mat-button.mat-accent {
  background-color: transparent !important;
  color: $cyan !important;
}

.mat-button.mat-warn {
  background-color: transparent !important;
  color: $yellow !important;
}
// flat buttons
.mat-button-base.mat-light {
  background-color: $mc-bg-primary;
  font-weight: $font-weight-500 !important;
}

.mat-flat-button.mat-primary {
  background-color: $blue !important;
}

.mat-flat-button.mat-accent {
  background-color: $cyan !important;
  color: $white !important;
}

.mat-flat-button.mat-warn {
  background-color: $yellow !important;
  color: $white !important
}

//mini button
.mat-mini-fab.mat-primary {
  background-color: $blue !important;
  color: $white !important
}

.mat-mini-fab.mat-accent {
  background-color: $cyan !important;
  color: $white !important
}

.mat-mini-fab.mat-warn {
  background-color: $yellow !important;
  color: $white !important
}




mat-sidenav-content.mat-drawer-content.mat-sidenav-content.router-content {
  overflow-x: hidden;
}

.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
  padding: 0px !important;
  justify-content: center;
}

.mat-list-base .mat-list-item {
  color: #566065;
}

.mat-list-option:hover, .mat-list-option:focus, .mat-nav-list .mat-list-item:hover, .mat-nav-list .mat-list-item:focus, .mat-action-list .mat-list-item:hover, .mat-action-list .mat-list-item:focus {
  color: $blue;
  background-color: $mc-bg-primary;
}

.sidenav-list-item-focus {
  background-color: $mc-bg-success;
}

.sidenav-list-item-focus {
  color: $blue !important;
  background-color: $mc-bg-primary !important;
}

.mat-raised-button {
  border-radius: 100px !important;
  font-weight: $font-weight-light;
  box-shadow: none !important;

  &:focus {
    box-shadow: none !important;
    outline: none;
  }
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: $blue;
}

.mat-header-cell {
  font-size: 13px;
  font-weight: $font-weight-600;
}

h1, h2, h3, .h1, .h2, .h3 {
  font-weight: $font-weight-light;
}

.mat-table {
    .thumbnail-img {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        margin-right: 10px;
    }
    tr.mat-header-row {
        height: 50px;
    }
    tr.mat-row, tr.mat-footer-row {
        height: 50px;
    }
    .mat-header-cell {
        color: #221c22;
        font-weight: $font-weight-500;
        font-size: 13px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .mat-cell, .mat-footer-cell {
        color: #454545;
        font-size: 13px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-weight: 400;
    }
    .mc-projectname {
        color: $blue;
    }
    .media {
        h6 {
            font-size: 12px;
            font-weight: normal;
            color: $gray-900;
        }
    }
    mat-row, mat-header-row, mat-footer-row, th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
        border-bottom-color: #EAEDF5;
    }
}

.table-subheader .mat-header-row th {
  background: #ecf8fe;
}

.mat-tab-nav-bar {
  border-bottom: 1px solid #ebedf2;

  .mat-tab-links {
    .mat-tab-link {
      min-width: 50px;
      font-weight: 500;
      color: $gray-900;
      margin-top: 4px;
      border-bottom: 3px solid transparent;
      opacity: 1;
      padding: 0 10px;
      margin-left: 4px;
      margin-right: 4px;

      &:hover, &:focus, &.active {
        color: $blue;
        border-bottom: 3px solid $blue;
        text-decoration: none;
      }
    }
  }
}

.mc-tab-content {
  .mat-card {
    box-shadow: none;
  }
}

.mat-checkbox-checked .mat-checkbox-background {
  background-color: $blue;
}

.mat-checkbox-checked.mat-primary .mat-checkbox-background {
  background-color: $blue;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $blue;
}

.mat-checkbox-checked.mat-warn .mat-checkbox-background {
  background-color: $blue;
}

.choose-file-bg {
  background-color: #F4F8FE;
  padding: 3px !important;
  border-radius: 5px;
}

.choose-file {
  padding: 25px 20px;
  border: 1px dashed #94A0AB;
  text-align: center;
  background-color: #FAFCFE;
  border-radius: 5px;
  // width:460px;
}

body .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: .35em 0 .8em 0 !important;
}

.mat-form-field-appearance-outline .mat-select-arrow-wrapper {
  transform: translateY(0) !important;
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0em 0 !important;
}

.mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix {
  top: .35em !important;
}

body .mat-form-field-wrapper {
  padding-bottom: .34375em !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-start, .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-end, .mat-form-field-appearance-outline .mat-form-field-outline-thick .mat-form-field-outline-gap {
  border-width: 1px !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: rgba(0, 0, 0, 0.25) !important;
}

form-field-outline {
  color: rgba(0, 0, 0, 0.25) !important;
}

button:focus {
  outline: 0 !important;
}

.mat-menu-content {
  .mat-menu-item {
    line-height: 38px;
    height: 38px;
    font-size: 12px;
    font-weight: 500;
  }
}

.mc-table-action {
  width: 150px;
}

body {
  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 1.25em !important;
  }

  .mc-select-mini .mat-form-field-infix {
    padding: 0.15em 0 0.8em 0 !important
  }
}

.mc-select-mini {
  .mat-form-field-wrapper {
    font-size: 12px;
  }

  .mat-select-arrow-wrapper {
    transform: translateY(0px) !important;
  }
}

.mat-form-field {
  .mat-icon-button {
    background-color: transparent !important;
  }

  .mat-form-field-suffix {
    top: .40em;
  }
}

body .mat-form-field-appearance-outline .mat-form-field-label {
  top: 1.41375em;
}

.mc-accordion {
  .mat-expansion-panel {
    border: 1px solid #d6dee2;
    box-shadow: 0 0 0 0 #ccc;
    border-radius: 5px !important;
    margin: 10px 0;
  }

  .mat-expansion-panel-body {
    border-top: 1px solid #EAEDF5;
    padding: 0;
  }

  .mat-expanded.mat-expansion-panel-spacing {
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    border-color: transparent;
    margin-bottom: 24px;
  }
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgba(33, 185, 255, 0.5);
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: $blue;
}

.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar {
  background-color: rgba(114, 95, 238, .5);
}

.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb {
  background-color: #725FEE;
}

.mat-progress-bar-buffer {
  background-color: #e3e4e8;
}

.mat-progress-bar-fill::after {
  background-color: $blue;
}

.mat-light-drop-down .mat-menu-trigger {
  background-color: rgba(51, 104, 252, 0.1);
}

.mat-dialog-close {
  position: relative;
  top: -2px;
  right: -10px;
}

.mat-light-drop-down .mat-menu-trigger:after {
  content: "\f1a3";
  font-family: Flaticon2;
  font-style: normal;
  font-size: 9px;
  font-weight: 400;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: relative;
  top: -.05rem;
  margin-left: 5px;
}
